@charset "UTF-8"; /* para pt br */

body{
    background-color: #094e4e;
}


#titulo-principal{
    text-align: center;
    background: #024141;
}

p{
    color: #dad9d9;
}

.titulo-html{
    color: #c7c5c5;
}

.titulo-css{
    color: #838181;
}