@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@700&display=swap');

* {
    box-sizing: border-box; /* faz com que a div filho não ultrapasse a div pai*/
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    margin: 0;
    background: darkslateblue;

    font-family: 'Noto Sans', sans-serif;
}

.titulo{
    color: aliceblue;
}

.bloco-hora{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    height: 40vh;
    width: 50vw;

    background: white;
    border-radius: 1rem;
}
.bloco-hora img{
    border-radius: 2rem;
    height: 40%;
    width: 40%;
}
.bloco-hora-data{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;

    width: 100%
}
.bloco-hora-data input{
    height: 50%;
    width: 50%;
    border-radius: 0.5rem;
}
.bloco-hora-checkbox{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.bloco-hora-checkbox-fm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

